/* html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
} */

body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.title-h1 {
    text-align: center;
	font-family: 'Boltzz';
    font-size: 4em;
    margin-bottom: 35px;
    margin-top: -35px;
}

.form-resume-container {
    display: flex;
    justify-content: center;
    width: 87%;
    background: rgb(255, 255, 255);
    box-shadow: var(--shadow-offset);
    justify-self: center;
    padding: 10% 0;
    margin: auto;
    margin-bottom: 5%;
}

.input-tab {
    width: 100%;
    display: flex;
}

.input-tab>span {
    display: block;
    width: 90%;
}

.input-tab>button {
    width: 10%;
    background: white;
    border: none;
}

input[type=range] {
    transform: translateY(10px);
}

.accordion {
    width: 75%;
}


.card {
    margin: 10px;
    border-radius: 10px;
}

.card-header>.btn {
    width: 87%;
    text-align: left;
    outline: none;
    border: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

input,textarea ,button{
    margin: 10px;
}

input:focus, input:active {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.input-group-text {
    height: 38px;
    margin: 10px;
}

.dlbar {
    margin: 10px;
}

.add-component {
    border: none;
    outline: none;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: var(--shadow-offset);
}

.form-group {
    position: relative;
}

.fa1,.fa2,.fa3 {
    display: none;    
    cursor: pointer;
    pointer-events: all;
    transition: all 1050ms;
    z-index: 5;
}

.delete-row {
    position: absolute;
    opacity: 0.4;
    top: 1%;
    right: -4%;
    transition: all 250ms;
}

.form-group:hover .delete-row:not(:hover) {
    position: absolute;
    top: 1%;
    right: -4%;
    z-index: 5;
    transition: all 250ms;
    opacity: 0.4;
}

.init .fa {
    width: 5px;
}



.form-group:hover .delete-row:hover {
    position: absolute;
    opacity: 1;
    top: 1%;
    right: -4%;
    z-index: 5;
}

.form-check {
    margin: auto;
}

.row-line {
    position: relative !important;
    display: flex;
    right: 0% !important; 
    top: 0% !important;
    margin: 10px;
}

.row-line .fa1,.row-line .fa2,.row-line .fa3 {
    display: flex !important;
    background: var(--alert-color);
    width: 40px;
    height: 40px;;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.form-group:hover .fa1,.form-group:hover .fa2,.form-group:hover .fa3 {
    background: var(--alert-color);
    width: 40px;
    height: 40px;;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.fa1:hover,.fa2:hover,.fa3:hover {
    background-color: var(--hot-color) !important;
}

.fa1 {
    border-radius: 10px 10px 0 0;
}

.fa2 {
    border-radius: 0;
}

.fa3 {
    border-radius: 0 0 10px 10px
}

.row-line .fa1 {
    border-radius: 10px 0px 0 10px;
}

.row-line .fa2 {
    border-radius: 0;
}

.row-line .fa3 {
    border-radius: 0 10px 10px 0;
}