.resume {
    width: 85%;
    height: 0;
    padding-top: calc(2144 / 1516 * 100%);
    background: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    color: black;
    box-shadow: var(--shadow-offset);
}